using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using FytSoa.Application.ViewModels;
using FytSoa.Domain.Models.{NameSpace};
using FytSoa.Infra.Common;

namespace FytSoa.Application.Interfaces
{
    public interface I{TableName}Service : IDisposable
    {
        /// <summary>
        /// 查询所有
        /// </summary>
        /// <returns></returns>
        Task<ApiResult<List<{TableName}>>> GetList(PageParam param);

        /// <summary>
        /// 添加
        /// </summary>
        /// <returns></returns>
        Task<ApiResult<int>> Add({TableName} model);

        /// <summary>
        /// 修改
        /// </summary>
        /// <returns></returns>
        Task<ApiResult<int>> Update({TableName} model);

        /// <summary>
        /// 删除
        /// </summary>
        /// <returns></returns>
        Task<ApiResult<int>> Delete(string ids);

    }
}