using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using FytSoa.Application.Interfaces;
using FytSoa.Domain.Interfaces.{NameSpace};
using FytSoa.Domain.Models.{NameSpace};
using FytSoa.Infra.Common;
using FytSoa.Infra.Common.Extensions;
using LinqKit;

namespace FytSoa.Application.Services {
    public class {TableName}Service : I{TableName}Service {
        private readonly I{TableName}Repository _thisRepository;
        public SysPostService (I{TableName}Repository thisRepository) {
            _thisRepository = thisRepository;
        }

        /// <summary>
        /// 查询所有
        /// </summary>
        /// <returns></returns>
        public async Task<ApiResult<PageResult<{TableName}>>> GetPages (PageParam param) {
            var result = JResult<PageResult<{TableName}>>.Success ();
            try {
                var where = PredicateBuilder.New<{TableName}> (m => true);
                result.Data = await _thisRepository.GetPageResult (where, m => m.Sort, 1, param.page, param.limit);
                return result;
            } catch (Exception ex) {
                return JResult<PageResult<{TableName}>>.Error (ex.Message);
            }
        }

        /// <summary>
        /// 添加
        /// </summary>
        /// <returns></returns>
        public async Task<ApiResult<int>> Add ({TableName} model) {
            var result = JResult<int>.Success ();
            try {
                model.Id = Unique.Id ();
                result.Data = await _thisRepository.AddAsync (model);
                return result;
            } catch (Exception ex) {
                return JResult<int>.Error (ex.Message);
            }
        }

        /// <summary>
        /// 修改
        /// </summary>
        /// <returns></returns>
        public async Task<ApiResult<int>> Update ({TableName} model) {
            var result = JResult<int>.Success ();
            try {
                result.Data = await _thisRepository.UpdateAsync (model);
                return result;
            } catch (Exception ex) {
                return JResult<int>.Error (ex.Message);
            }
        }

        /// <summary>
        /// 删除
        /// </summary>
        /// <returns></returns>
        public async Task<ApiResult<int>> Delete (string ids) {
            var result = JResult<int>.Success ();
            try {
                result.Data = await _thisRepository.DeleteAsync (m => ids.StrToListLong ().Contains (m.Id));
                return result;
            } catch (Exception ex) {
                return JResult<int>.Error (ex.Message);
            }
        }

        public void Dispose () {
            GC.SuppressFinalize (this);
        }
    }
}